# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL

#### LIVRO
RewriteRule ^livro/list$   RestController.php?method=listLivro [nc,qsa]
RewriteRule ^livro/([0-9]+)$   RestController.php?method=getLivroByIsbn&isbn=$1 [nc,qsa]
RewriteRule ^livro/titulo/([^\/]+)$   RestController.php?method=getLivroByTitle&title=$1 [nc,qsa]
RewriteRule ^livro/categoria/([^\/]+)$   RestController.php?method=getLivroByCategoria&categoriaNome=$1 [nc,qsa]

#### CATEGORIA
RewriteRule ^categoria/list$   RestController.php?method=listCategoria [nc,qsa]
RewriteRule ^categoria/([a-zA-Z0-9]+)$   RestController.php?method=getCategoriaID&nome=$1 [nc,qsa]

#### AUTOR
RewriteRule ^autor/list$   RestController.php?method=listAutor [nc,qsa]

#### SEARCH
RewriteRule ^search/([^\/]+)$   RestController.php?method=searchBooks&search=$1 [nc,qsa]
